@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Oswald&family=Roboto&display=swap");
body { background-color: #141414; }

body a, body li { text-decoration: none; color: white; list-style: none; }

body .header { font-family: 'Roboto', sans-serif; display: grid; grid-template-columns: 1.3fr 6fr 1.3fr; grid-template-rows: 1fr 5fr; grid-gap: 10px; grid-template-areas: "logo navlinks side" ". main ."; text-align: center; align-items: center; color: white; }

body .header--logo { grid-area: logo; position: relative; }

body .header--logo:after { transition: 200ms ease; content: 'admin-panel'; font-size: 14px; position: absolute; left: 70%; top: 70%; transform: translate(-50%, -50%); }

body .header--nav { grid-area: navlinks; }

body .header--nav li { display: flex; justify-content: start; }

body .header--nav li a { margin-right: 10px; transition: color 200ms ease; }

body .header--nav li a:hover { color: #5D5D5D; }

body .header--side { grid-area: side; display: grid; grid-template-areas: "badge username logout"; grid-template-columns: .1fr .1fr .1fr; text-align: center; align-items: center; }

body .header--side a, body .header--side p { margin-right: 15px; }

body .header--side .badge { grid-area: badge; color: #de5454; font-weight: 500; }

body .header--side .account_settings { grid-area: username; }

body .header--side .logout { grid-area: logout; padding: 10px 15px; border: 2px solid white; border-radius: 10px; transition: 350ms ease-in-out; }

body .header--side .logout:hover { color: #8088e3; border-radius: 30px; }

body .header--posts { grid-area: main; display: flex; flex-direction: row; flex-wrap: wrap; flex-grow: 1; justify-content: center; }

body .header--posts .noPosts { position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); }

body .header--posts .admin_users { display: flex; flex-direction: column-reverse; justify-content: center; align-items: center; }

body .header--posts .admin_users .userstable { z-index: 6; position: relative; border-spacing: 0px 20px; border-collapse: separate; color: black; width: 100%; font-weight: 600; grid-area: users; }

body .header--posts .admin_users .userstable .settings { z-index: 7; }

body .header--posts .admin_users .userstable .pop_settings { background-color: #fff; position: absolute; border-radius: 0; opacity: 0; transform: translateY(-50px) translateX(-20px); transition: 350ms ease; z-index: 5; display: flex; flex-direction: column-reverse; line-height: normal; }

body .header--posts .admin_users .userstable .hover_btns:hover .pop_settings { border-radius: 25px 25px 0 0; height: max-content; width: max-content; padding: 25px 10px; opacity: 1; transform: translateY(-125px) translateX(-25px); }

body .header--posts .admin_users .userstable td { padding: 20px 10px; }

body .header--posts .admin_users .userstable td:first-child { border-radius: 25px 0 0 25px; }

body .header--posts .admin_users .userstable td:last-child { border-radius: 0 25px 25px 0; }

body .header--posts .admin_users .userstable tr { background-color: #fff; }

body .header--posts .admin_users .userstable tr:first-child { background: transparent; }

body .header--posts .admin_users .userstable a { color: #d9d9d9; font-size: 18px; cursor: pointer; }

body .header--posts .admin_users .userstable a:hover { color: #9AA5C0; }

body .header--posts .admin_users .createusers { margin-left: auto; width: 2%; background-color: #545454; padding: 5px; font-weight: 600; max-height: 100px; grid-area: createusers; }

body .header--posts .admin_users .createusers a { margin-left: 10px; padding: 10px 20px; border: 2px solid #B0B0B0; color: #B0B0B0; border-radius: 5px; transition: 350ms ease; }

body .header--posts .admin_users input { outline: none; padding: 10px 5px; }

body .header--posts .account_setting tr { background-color: #5D5D5D; }

body .header--posts .account_setting td { padding: 5px; border-radius: 3px; }

body .header--posts .account_setting td input { background-color: transparent; color: white; border: 0; outline: none; padding: 5px; }

body .header--posts .account_setting td input:focus { padding: 2px 3px; border: 2px solid black; }

body .header--posts .account_setting a { cursor: pointer; font-weight: 700; transition: 300ms ease; color: #B0B0B0; }

body .header--posts .account_setting a:hover { color: #d9d9d9; }

body .header--posts .redact { color: black; font-weight: bold; transition: color 350ms ease; }

body .header--posts .redact:hover { color: #6f6f6f; }

body .header--posts .post { border-radius: 10px; margin: 0 20px 20px 0; color: black; min-width: 200px; min-height: 200px; width: max-content; height: max-content; background-color: white; justify-content: center; display: grid; grid-template-rows: 1.3fr 0.7fr; grid-template-areas: "heady" "bodyy"; padding: 10px 5px; font-family: 'Bitter', serif; }

body .header--posts .post .post_buttons { margin-top: 5px; }

body .header--posts .post .post_buttons .updatePost { background-color: #8088e3; border-radius: 10px; border: 0; padding: 10px 15px; color: white; font-weight: bold; cursor: pointer; }

body .header--posts .post .post_buttons .updatePost:hover { background-color: #5f65aa; }

body .header--posts .post .post_buttons .deletePost { background-color: #de5454; border-radius: 10px; border: 0; padding: 10px 15px; color: white; font-weight: bold; cursor: pointer; }

body .header--posts .post .post_buttons .deletePost:hover { background-color: #bb4646; }

body .header--posts .post .formatting_buttons { color: black; }

body .header--posts .post .head { grid-area: heady; }

body .header--posts .post .body { grid-area: bodyy; display: grid; grid-template-columns: 1fr 1fr; grid-template-areas: "top_bottom top_bottom" "post_btn right_bottom"; align-items: center; justify-content: center; justify-items: center; }

body .header--posts .post .body .top_bottom { grid-area: top_bottom; }

body .header--posts .post .body .right_bottom { display: grid; grid-template-areas: "admin_sended" "date"; text-align: start; grid-area: right_bottom; }

body .header--posts .post .body .right_bottom .admin_sended { grid-area: admin_sended; }

body .header--posts .post .body .right_bottom .date { grid-area: date; }

body .header--posts .post .title { font-family: 'Oswald', sans-serif; }

body .header--posts .post .post_btn { font-family: 'Roboto', sans-serif; color: black; border: 2px solid black; width: max-content; height: max-content; padding: 10px 30px; border-radius: 4px; font-weight: 500; grid-area: post_btn; }

body .header--posts .post .post_btn:hover { border: 2px solid #5D5D5D; color: #5D5D5D; }

@media screen and (max-width: 1200px) { body .header .header--logo { grid-area: logo; position: relative; }
  body .header .header--logo:after { content: 'admin-panel'; font-size: 14px; position: absolute; left: 75%; top: 75%; transform: translate(-50%, -50%); } }
