@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Oswald&family=Roboto&display=swap');
//font-family: 'Bitter', serif; font-family: 'Oswald', sans-serif; font-family: 'Roboto', sans-serif;
$danger: #FB5A5A;
$danger2: #CF7171;
$postbg: #F1F1F1;
$light: #F5F5F5;
$buttonbgsecond: #404040;
$buttonbgsecond_h: #5D5D5D;
.btn-outline-secondary {
    border: 2px solid #111;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 150ms ease;
    &:hover {
        background-color: rgba(255, 255, 255, .05);
    }
}
body {
    overflow-x: hidden;
}


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "header" "main";

    .none {
        display: none;
    }


    header {
        grid-area: header;
        display: grid;
        grid-template-areas: "headerlogo headernav headerbutton";
        grid-template-columns: 1fr 2fr 1fr;
        font-family: 'Roboto', sans-serif;
        background-color: $light;
        text-align: center;
        align-items: center;
        justify-items: center;
        .header--logo {
            grid-area: headerlogo;
        }
        .header--nav {
            grid-area: headernav;
            nav {
                display: flex;

                li {
                    a {
                        color: black;
                        margin-right: 10px;
                        padding: 10px;
                    }
                }
                .badge {
                    grid-area: badge;
                    color: #de5454;
                    font-weight: 500;
                }
            }
        }
        .header--ah {
            grid-area: headerbutton;
            width: max-content;
            height: max-content;
            position: relative;
            .burger-menu {
                position: fixed;
                z-index: 5000;
                height: 100vh;
                width: 100vw;
                align-items: start;
                justify-content: center;

                .toggle-burger {
                    z-index: 4999;
                    padding: 10px;
                    border: 0;
                }
                .menu {
                    transform: translateY(-200px);
                    height: 125px;
                    z-index: 4998;
                    background: red;
                    opacity: 0;
                }
            }
        }
    }
    .main {
        font-family: 'Roboto', sans-serif;
        grid-area: main;
        margin: auto;
        justify-content: center;
        background-color: transparent;

        .ad {
            grid-area: tads;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 200px;
            width: 200px;
            background-color: #fff;
            border-radius: 15px;

                .image_ad {
                    height: 100px;
                    width: 100px;
                }
                .go_to_ad {
                    width: 100%;
                    height: max-content;
                    padding: 10px;
                    color: black;
            }
        }

        .menu {
            display: flex;
            margin: 10px auto 0 auto;
            height: auto;
            .create_post, .to_posts {
                padding: 10px 15px;
                background-color: $buttonbgsecond;
                transition: background-color 200ms ease;
                width: max-content;
                color: white;
                border-radius: 8px;
                margin-bottom: 10px;
                display: flex;
                height: max-content;
                margin-right: 10px;

                &:hover {
                    background-color: $buttonbgsecond_h;
                }
            }
            .find_ {
                border: 1px solid #111111;
                padding: 10px;
                width: 200px;
                height: max-content;
                text-align: center;
                outline: none;
                border-radius: 5px;
                justify-self: end;

                &:focus {
                    border: 1px solid $danger2;
                }
            }
        }
        .posts {
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 950px;
            flex-wrap: wrap-reverse;
            flex-direction: row-reverse;
            transition: 350ms ease;
            padding: 10px;
            }

            .noPost {
                color: black;
                text-align: center;
                align-self: center;
                justify-self: center;
            }
            .post {
                margin: 5px;
                opacity: 0;
                margin-top: 10px;
                min-width: 250px;
                max-width: 350px;
                min-height: 100px;
                border-radius: 30px;
                background-color: #FFFFFF;
                display: grid;
                grid-template-areas: "top" "bottom";
                grid-template-rows: 1.3fr 0.7fr;
                box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
                transform: translateY(-50px);
                transition: 150ms ease;



                .top {
                    background-color: gray;
                    grid-area: top;
                    position: relative;
                    border-radius: 25px 25px 0 0;
                    .theme {
                        width: 75px;
                        left: 0;
                        padding: 5px 10px;
                        font-weight: 600;
                        top: 50%;
                        text-align: start;
                        position: absolute;
                        border-radius: 0 25px 25px 0;
                        background-color: white;
                    }
                    img {
                        width: 200px;
                    }
                }
                .bottom {
                    background-color: white;
                    grid-area: bottom;
                    border-radius: 0 0 25px 25px;
                    display: grid;
                    grid-template-areas: "topbottom" "contrls";
                    grid-template-rows: 1fr 1fr;
                    padding: 0 5px;

                    .top_bottom {
                        grid-area: topbottom;
                    }
                    .post_btn {
                        padding: 10px 15px;
                        border-radius: 5px;
                        font-weight: 600;
                        border: 2px solid black;
                        width: max-content;
                        color: black;
                    }
                    .text {
                        font-size: 13px;
                        font-weight: 500;
                    }
                    .controls {
                        grid-area: contrls;
                        display: grid;
                        grid-template-areas: "button info";
                        grid-template-rows: 1fr 1fr;
                        .post_btn {
                            grid-area: button;
                            margin-right: 2px;
                        }
                        .info {
                            grid-area: info;

                            display: grid;
                            grid-template-areas: "date" "counters";

                            .date {
                                grid-area: date;
                            }
                            .views_comments {
                                grid-area: counters;
                            }
                        }
                    }
                }

                .title {
                    font-size: 26px;
                }
            }
        }
    }
    .view {
        justify-content: center;
        .post {
            grid-area: main;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title {

            }
        }
    }
    footer {
        font-family: 'Roboto', sans-serif;
        grid-area: footer;
        position: static;
        width: 100%;
        bottom: 0;
        display: grid;
        grid-template-areas: "copyrights rights";
        grid-template-columns: 1fr 1fr;
        text-align: center;
        align-items: center;
        justify-items: center;
        justify-content: center;
        padding: 20px;
        margin-top: auto;
        font-family: 'Roboto', sans-serif;
        background-color: $light;
        .copyright {
            grid-area: copyrights;
        }
        .rights {
            grid-area: rights;
        }
    }
@media screen and (max-width: 900px){
    header {
        grid-template-areas: "headerlogo headerbutton";
        grid-template-columns: 0fr 1fr;
        grid-gap: 5px;
        padding: 0;
        width: 100vw;
        .header--nav {
            display: none;
        }
    }
    .posts {
        flex-direction: column-reverse;
    }
}
@media screen and (min-width: 800px){
    .post:last-child {
        transform: rotate(0deg);
        min-width: 70%;
        min-height: 250px;
        display: flex;

        .top {
            border-radius: 25px 0 0 25px;
            width: 50%;
            padding: 10px 0 10px 0;
            img {
                position: absolute;
            }
        }
        .bottom {
            justify-content: center;
            grid-template-rows: 2fr 1fr;

            .controls {
                grid-area: contrls;
                display: grid;
                grid-template-areas: "button info";
                grid-template-rows: 1fr 1fr;
                grid-gap: 10px;
                .post_btn {
                    grid-area: button;
                    margin-right: 2px;
                }
                .info {
                    grid-area: info;

                    display: grid;
                    grid-template-areas: "date" "counters";

                    .date {
                        grid-area: date;
                    }
                    .views_comments {
                        grid-area: counters;
                    }
                }
            }
        }


    }
}
@media screen and (max-width: 300px){
    header {
        grid-template-areas: "headerlogo headerbutton";
        width: 100vw;
        .header--nav {
            display: none;
        }
    }
}